$primary: hsl(47, 88%, 63%);
$White: hsl(0, 0%, 100%);
$Grey: hsl(0, 0%, 50%);
$Black: hsl(0, 0%, 7%);

$card-content-margin: .75rem;

$font-weight: (
  'regular':500,
  'bold': 800
);

@function weight($weight-name) {
  @return map-get($map: $font-weight, $key: $weight-name)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $Black;
  font-family: figtree;
  font-weight: weight(regular);

  p{
    font-size: 16px;
  }
}

@mixin mobile{
  @media (max-width:460px){
    @content;
  }
}