@import 'config';

body{
  background-color: $primary;
  height: 100vh;

  .attribution{
    font-size: 11px;
    text-align: center;
    a{
      color: hsl(228, 45%, 44%);
    }
  }

  .card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .card{
      background-color: $White;
      height: fit-content;
      width:min-content;
      border-radius: 20px;
      box-shadow: 6px 7px 0px $Black, -1px -1px 0px $Black;

      .card-image{
        height: 200px;
        width: 336px;
        border-radius: 20px;
        margin: 1.1rem 1.1rem .75rem 1.1rem;
      }

      .card-content{
        margin: 1.1rem 1rem .75rem 1.1rem;

        .card-topic{
          background-color: $primary;
          width: min-content;
          padding: 4px 12px;
          border-radius: 5px;
          font-weight: weight(bold);
          margin-bottom: $card-content-margin;
        }

        .card-date{
          margin-bottom: $card-content-margin;
        }

        .card-heading{
          margin-bottom: $card-content-margin;

          a {
            text-decoration: none;
            font-weight: weight(bold);
            &:hover{
              color: $primary;
            }
          }
        }

        .card-info{
          color: $Grey;
          margin-bottom: $card-content-margin;
        }
      }

      .author-div{
        margin: 0 1.1rem 1.5rem 1.1rem;
        display: flex;
        align-items: center;
        .user-pic{
          height: 32px;
          width: 32px;
        }
        .author-name{
          font-weight: weight(bold);
          margin-left: $card-content-margin;
        }
      }
    }
  }  
}
